<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KayisakuConnection" connectionString="Data Source=192.168.0.234;Initial Catalog=BIZPLUS_DB_TKN_DEV3_MSK_HANBAI;Persist Security Info=True;User ID=sa;Password=Nimda_sulpzib1;Connection Timeout=3600;" providerName="System.Data.SqlClient" />
    <add name="CustomerConnection" connectionString="Data Source=192.168.0.234;Initial Catalog=BIZPLUS_DB_TKN_DEV3_MSK_HANBAI;Persist Security Info=True;User ID=sa;Password=Nimda_sulpzib1;Connection Timeout=3600;" providerName="System.Data.SqlClient" />
    <add name="BasicConnection" connectionString="Data Source=192.168.0.234;Initial Catalog=BIZPLUS_DB_TKN_DEV3_MSK_HANBAI;Persist Security Info=True;User ID=sa;Password=Nimda_sulpzib1;Connection Timeout=3600;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ActionTypeList" value="C,E,D,R,A,B,F" />
    <add key="RankList" value="Ｃ,Ｄ" />
    <add key="AdditionDllPath" value="KokyakuRenkei.AdditionProc.dll" />
    <add key="WebApiVer" value="v1" />
    <add key="AuthorizationKey" value="53a6423f321820d1729cc4460e6f01b3" />
    <add key="Protocol" value="http" />
    <add key="HostName" value="WIN2012SRV" />
    <add key="ProxyServer" value="NoUse" />
    <add key="ProxyServerAddress" value="iproxy.hitachi.co.jp" />
    <add key="ProxyServerPort" value="8080" />
    <add key="ProxyServerUserId" value="70708861" />
    <add key="ProxyServerPassword" value="5tgb6yhn" />
    <add key="RequestTimeout" value="60000" />
    <add key="KokyakukanriImagesDir" value="C:\BusinessPlus\Application\BusinessPlus\KokyakukanriImages" />
  </appSettings>
</configuration>